

<h2> Playlist: {{PlaylistShowViewModel.playlist.category}} </h2>

<!-- <p>{{PlaylistShowViewModel.playlist.category}}</p> -->
<h3 class="show"><a data-ui-sref="playlistIndex">Other Playlists </a></h3>



<div class="row">

  <div class="col s12 m4 l3">

    <p> Search for a word, and add to the playlist! </p>
    <form ng-submit="PlaylistShowViewModel.search()">
      <input id='input' type="text" placeholder="search term" ng-model="PlaylistShowViewModel.phrase"/>
      <button class="btn waves-effect red " type ="submit"><i class="material-icons">Search!</i></button>
    </form>


    <div ng-if="PlaylistShowViewModel.usersearch">
      <form>
        <p ng-model="PlaylistShowViewModel.word.englishword">Searched: {{PlaylistShowViewModel.phrase}}</p>
        <p ng-model="PlaylistShowViewModel.word.otherword">Translation: {{PlaylistShowViewModel.usersearch}}</p>
        <button class="btn-floating btn-large waves-effect waves-light red" type="button" data-ng-click="PlaylistShowViewModel.add()"><i class="material-icons"> + </i></button>
      </form>
    </div>

    <div data-ng-repeat="word in PlaylistShowViewModel.playlist.words">
      <p>{{word.otherword}}</p>
    </div>

  </div>


  <div class="col s12 m8 l9">

    <br />
    <br />


    <h4><a ng-click="show = !show"> Flashcards </a> </h4>

    <div class="card small">
      <button class="btn waves-effect waves-light red" ng-click="PlaylistShowViewModel.start()">Click!</button>
      <h5>Word: {{PlaylistShowViewModel.flashcard.otherword}}</h5>
      <button class="btn waves-effect waves-light red" ng-click="english = !english">Translate!</button>
      <div data-ng-show="english">
        <p>{{PlaylistShowViewModel.flashcard.englishword}}</p>
      </div>
    </div>



  </div>

</div>

  <!-- <button data-ng-click="PlaylistShowViewModel.destroy()">Delete</button> -->
